input[type = radio] {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
}

label {
    cursor: pointer;
    padding: 15px;
    display: block;
}

label:hover {
    background: rgba(233, 0, 0, 0.5);
}

input[type = radio]:checked + label {
    background: red;
    color: white;
}